#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env

php_errors.log

# Don't save phpunit under version control.
phpunit

# Visual Studio Code
.vscode/

app/certificate.pem


# Ignore CodeIgniter Files
/.phpunit.*.cache
/phpunit*.xml
/env
/system
/writable
/spark
/composer.json
/app/.htaccess
/app/Common.php
/app/Config/Boot/development.php
/app/Config/Boot/production.php
/app/Config/Boot/testing.php
/app/Config/Cache.php
/app/Config/Constants.php
/app/Config/ContentSecurityPolicy.php
/app/Config/Cookie.php
/app/Config/Database.php
/app/Config/DocTypes.php
/app/Config/Email.php
/app/Config/Encryption.php
/app/Config/Events.php
/app/Config/Exceptions.php
/app/Config/ForeignCharacters.php
/app/Config/Format.php
/app/Config/Generators.php
/app/Config/Honeypot.php
/app/Config/Images.php
/app/Config/Kint.php
/app/Config/Logger.php
/app/Config/Migrations.php
/app/Config/Mimes.php
/app/Config/Modules.php
/app/Config/Pager.php
/app/Config/Paths.php
/app/Config/Security.php
/app/Config/Services.php
/app/Config/Toolbar.php
/app/Config/UserAgents.php
/app/Config/Validation.php
/app/Config/View.php
/app/Controllers/BaseController.php
/app/Controllers/Home.php
/app/Database/Migrations/.gitkeep
/app/Database/Seeds/.gitkeep
/app/Filters/.gitkeep
/app/Helpers/.gitkeep
/app/Language/.gitkeep
/app/Language/en/Validation.php
/app/Libraries/.gitkeep
/app/Models/.gitkeep
/app/ThirdParty/.gitkeep
/app/Views/errors/cli/error_404.php
/app/Views/errors/cli/error_exception.php
/app/Views/errors/cli/production.php
/app/Views/errors/html/debug.css
/app/Views/errors/html/debug.js
/app/Views/errors/html/error_404.php
/app/Views/errors/html/error_exception.php
/app/Views/errors/html/production.php
/app/Views/welcome_message.php
/app/index.html
